/* #121619 texto
#2D4739 fundo
#09814A destaque
#BCB382 detalhe

 */

* {
  box-sizing: border-box;
}
   
    body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    }

    h1, h2, h3 {
    font-family: 'Fira Sans', sans-serif;
}

    h1 {
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.75rem;
    }

    h3{
        font-size: 1.25rem;
    }

    header{
        background-color: #A6B07E;
        color: #000000;
        padding: 24px;
    }

    footer{
        background-color: #A6B07E;
        color: #000000;
        padding: 24px;

    }

    table{
        width: 100%;
        border-collapse: collapse;
    }

    th, td{
        border: 1px solid #000000;    
        padding: 12px;
    }

    th {
    background-color: #09814A;
    font-weight: bold;
}

    main{
        max-width: 900px;
        margin: 0 auto;
        padding: 16px;
    }


    nav a:link, nav a:visited{
        display: inline-block;
        text-decoration: none;
        color:#C97064;
        padding: 8px 12px;
    
    }

    nav:hover{
        background-color: #68A357;
        padding: 8px 12px;
        border-radius: 6px;
        list-style: none;
    }

   input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
}

input:focus, select:focus, textarea:focus {
    border: 2px solid #09814A;
}

input[type="submit"] {
    background-color: #09814A;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.destaque {
    background-color: #e8f5ee;
    border-left: 4px solid #09814A;
    padding: 16px;
}


/* 
O paragrafo com a classe .destaque ficou vermelho.
A regra p { color: red; } venceu pois ele apareceu depois do .destaque
assim fazendo com que a cor vermelho fosse assumida
*/

  