/* #121619 texto
#2D4739 fundo
#09814A destaque
#BCB382 detalhe

 */

* {
  box-sizing: border-box;
}
   
    body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    }

    h1 {
        font-family: 'Ruthie', sans-serif;
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.75rem;
    }

    h3{
        font-size: 1.25rem;
    }

    header{
        background-color: #A6B07E;
        color: #000000;
        padding: 24px;
    }

    footer{
        background-color: #A6B07E;
        color: #000000;
        padding: 24px;

    }

    table{
        width: 100%;
        border-collapse: collapse;
    }

    th, td{
        border: 1px solid #000000;    
        padding: 12px;
    }
    td{
        background-color: #68A357;
        font-weight: bold;
    }

    main{
        max-width: 900px;
        max-width:0 auto;
        margin:0 auto;
        padding: 16px;
    }

    nav a:link, nav a:visited{
        display: inline-block;
        text-decoration: none;
        color:#C97064;
        padding: 8px 12px;
    
    }

    nav:hover{
        background-color: #68A357;
        padding: 8px 12px;
        border-radius: 6px;
        list-style: none;
    }

    input, select, area{
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
    }

    input:focus{
        border:2px #C97064

    }

    

  